<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    
    {{>navbar}}


    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/w4.jpg" alt="Harshil and Samridhi" class="img-fluid" title="Weather website">
                        </figure>
                       

                    </div>
                    <div class="col-md-6 col-12 main_header_left ">
                        
                        <p>Welcome to Weather Website</p>
                        <h1>Here, on this website you can get <span class="text_clr"> Weather</span> related info of your city. </h1>
                        <a href= "https://github.com/Harshil233/DynamicWeatherWebsite"><button> Our GitHub</button></a>
                        <h3>Connect with us!!</h3>
                        <h4>
                        <button>
                        <a href="https://www.linkedin.com/in/harshil-rathod-11b810202" target="_blank" rel="noopener noreferrer">Harshil </a>
                        &nbsp
                        <a href="https://www.linkedin.com/in/samridhi-dubey-4482551b9" target="_blank" rel="noopener noreferrer">Samridhi</a>
                        &nbsp
                        <a href="https://www.linkedin.com/in/laxmipandey47/" target="_blank" rel="noopener noreferrer">Laxmi</a>
                        &nbsp
                        <a href="https://www.linkedin.com/in/urvashi-s-525b2b219" target="_blank" rel="noopener noreferrer">Urvashi</a> 
                        &nbsp
                        <a href="https://www.linkedin.com/in/ishitav03/" target="_blank" rel="noopener noreferrer">Ishita</a>
                        </button>
                        </h4>

                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>


</html>